@font-face {
    font-family: "burbank";
    src: url("burbank-big-condensed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "burbank";
    src: url("Burbank-Big-Condensed-Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("Futura-Condensed-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

